/*
    RESET
*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}    

.container{
    max-width: 1200px;
    margin:0 auto;
}

/*
    GENERAL
*/

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*
     DEBUG
*/

.debug{
     border:2px dashed black;
}

/*
      HEADER
*/
.container-logo{
    background-color: #ADD8E6;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
}      

.div-nav{
    background-color: #DAA520;
    height: 30px;
    width: 100%;
    display:flex;
}

.nav-small{
    flex-grow: 1;
}

.nav-big{
    flex-grow: 2;
    text-align: center;
}

.nav-small{
    text-align: right;
}

.nav-small:first-child{
    text-align: left;
}